/*colores primarios del juego solo puse ejemplos pero los pueden cambiar*/
:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario:#0097a7;
    --fondos: #d3e7bb;
    --gris: #757575;
}

.html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 16 px;    
    font-family: "Krub", sans-serif;
    background-color: #ead5ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #beadd6;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

/* Container */
.container {
    max-width: 600px;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    width: 90%;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.celda {
    width: 100%; /* Asegura que las celdas se ajusten al contenedor */
    height: 100px; /* Ajusta según el diseño */
    background-color: rgba(221, 169, 169, 0.5);
    border-radius: 15px;
    border: 1px solid #212121;
    font-size: 2rem;
    color: #9b3583;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.boton:hover {
    background-color: #4500b5;
}

/* Timer and Messages */
.timer, .message {
    margin: 1rem 0;
    font-size: 1.2rem;
}

/* High Scores */
.high-scores {
    list-style: none;
    padding: 0;
}

.boton{
    background-color:var(--fondos);
    color: var(--oscuro);
    padding: 1rem 2rem;
    margin-top: .5rem;
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
